doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Thank you for promising to buy something!
      p
        strong The wishlist app thanks you for promising to buy an item from a wishlist.
      h4.h4 Thank you!
