doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Thank you for creating a wishlist!
      p
        strong The wishlist app thanks you for creating a wishlist.
      h2.h2 The public link to your wishlist is:
      p http://#{publicLink}
      p This is the link you should share with your friends.
      h2.h2 The unique link to edit your wishlist is as follows:
      p http://#{uniqueLink}
      p
        em Do not share this link unless you want other people to be able to edit your wishlist!
      h4.h4 Thank you!
