html,
body {
    margin:0;
    padding:0;
    height:100%;
    font-family: Helvetica;
    background-image: url('../lib/For_Wes.jpg');
    /*background-color: rgba(229,229,229, 0.5);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home {
  height: auto;
  width: auto;
}

#content {
    min-height:100%;
    position:relative;
}

#header {
  z-index: 2;
  width: 100%;
  color: white;
  font-size: 1.15em;
  padding: 20px;
  background: #aa6644;
  text-align: right;
  position:fixed;
  box-shadow: 0px 1px 26px 6px rgba(0, 0, 0, 0.34);
}

#homeLink {
  float: left;
}

.headline-wrapper {
    font-family: 'Work Sans', sans-serif;
    z-index: 1;
    background:transparent;
    color: white;
    width:100%;
    height:100%;
    position:absolute;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    background-color: rgba(50, 50, 50, 0.5);
    font-size: 2em;
    box-shadow: inset 0 3px 26px 6px rgba(0,0,0,0.34);
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        -webkit-align-content: center;
            align-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.button-small {
  font-size: 65%;
}

input {
  color: black;
}

.headerWrapper > input, button {
    margin: 0 .5em;
}

.headline-wrapper h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.headline-wrapper h2 {
    margin-top: 10px;
    font-size: 1em;
}

#footer {
    color: white;
    clear: both;
    z-index: 1;
    background:#aa6644;
    width:100%;
    height: 2em;
    position:fixed;
    bottom:0;
    left:0;
    padding: 1.5em 1em 1em 1em;
    text-align: center;
    box-shadow: 0px 1px 26px 6px rgba(0,0,0,0.34);
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        -webkit-align-content: center;
            align-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

#footer img {
  max-width: 2em;
  max-height: 2em;
}

#footer img {
  opacity: .65;
}

#footer img:hover {
  opacity: .8;
}




/******************************************
    Landing Page Video
******************************************/

.homepage-hero-module {
  width: 100;
    border-right: none;
    border-left: none;
    position: relative;
         display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        -webkit-align-content: stretch;
            align-content: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
        position: relative;
         display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        -webkit-align-content: stretch;
            align-content: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

}
.no-video .video-container .poster,
.touch .video-container .poster {
    /*display: block !important;*/
        display: none;
        position: relative;
         display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        -webkit-align-content: stretch;
            align-content: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}
.video-container {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width:100%;
    overflow: hidden;
    background: #000;
    vertical-align: middle;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 0;
    position: static;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.poster-wrapper {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      -webkit-align-content: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.poster {
    background-image: url('../lib/For_Wes.jpg');
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;

}

/********************************************

/*******************************************

/* Main */
#user-view, #guest-view, #about {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 4em 0 6em;
  background-color: rgb(229,229,229);
}

#about {
  height: 100%;
  width: 100%;
  padding-top: 7em;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1-about {
  margin: 0 auto;
}

/* Header */
#icon-section {
  display: inline-block;
}

#icon {
  height: 5em;
  width: 7em;
  margin-right: 3em;
}

#header-nav {
  display: inline-block;
}

.title-header {
  width: 100%;
  display: block;
  margin: 1em;
  text-align: center;
}

/* Buttons for selecting category */
.category {
  height: 5em;
  width: 5em;
}

#category-section {
  margin-bottom: 3em;
  text-align: center;
}

.btn-category {
  border-radius: 10%;
  background-color: white;
}

/* User form for adding items */

.frm-add-item {
  width: 100%;
  display: inline-block;
  background: url('../lib/silver-bg.png');
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, .75);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.04);
}

.input-add-item {
  height: 2em;
  margin: 1em;
  font-size: 75%;
}

#user-view .input-add-item {
  font-size: 100%;
}

#btn-add-name {
  margin: 1em;
}

/* Item list */

.article-item {
  height: 5em;
  width: 80%;
  margin: 1.15em auto;
  padding: 1em;
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.04);
  text-align: center;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      -webkit-align-content: stretch;
          align-content: stretch;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


.description {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        -webkit-align-content: center;
            align-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.description h2 {
  margin: 0 1em;
}

.committed-to {
  margin-top: 1em;
  display: inline-block;
  float: right;
}

.unchecked-box {
  height: 3em;
  width: 3em;
}

.credit {
  margin-bottom: 10em;
}

/*About Page*/
.h1-about {
  text-align: center;
}

.p-about {
  margin-left: 5em;
  margin-right: 5em;
}

#make-wish {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 12em;
  width: 18em;
}

/********************************************
  About Page
/*******************************************/

.bio {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
}


.bio img{
  height: 300px;
  padding: 2em 2em 0 2em;
  opacity: 0.885;
}

.bio img:hover {
  opacity: 1.0;
  cursor: pointer;
}

/****************************************
   Links and Psuedo Selectors
****************************************/

.headerLinks, .footerLinks {
    color: #e5e5e5;
    text-decoration: none;
    margin: 0 20px;
}

.emptySpan {
  margin: 1em;
}

.headerLinks:hover, .footerLinks:hover {
     color:#f3f3f3;
     cursor:pointer;
}

.headerLinks:active, .footerLinks:active {
     color:#ccc;
     cursor:pointer;
}
a {
  text-decoration: none;
  color: inherit;
}



